.scatterplotDivContainer{
    height: 100%;
}

.dotG.selected .dotCircle {
    fill: orange; /* Change fill color for selected points */
    stroke: blue; /* Add a stroke color to selected points */
    stroke-width: 2px; /* Make the stroke more visible */
}

.dotG.selected {
    border: 1px solid red !important; /* Add temporary border to help debug */
}

